<div class="nav-scrollable" onclick="document.getElementById('nav-menu').classList.remove('show');">
    <nav id="nav-menu" class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home me-2"></i> Bosh Sahifa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <i class="fas fa-user me-2"></i> Men Haqimda
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <i class="fas fa-project-diagram me-2"></i> Loyihalar
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <i class="fas fa-envelope me-2"></i> Aloqa
            </NavLink>
        </div>

    </nav>
</div>